<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    
    <% if(sess.user){ %>
     <h2><%= sess.user.id %>, 您好</h2>
        <p><a href="/logout">登出</a></p>
        <% } else { %>
      <div  class="alert alert-success" role="alert" id="alert" style="display:none">
       </div>
    <form method="post" name="form1" onsubmit="return re()">
        <div class="form-group">
            <label for="account">Acoount</label>
            <input type="text" class="form-control" id="account" name="account">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">     
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      <% } %>
    <div id="info"></div>
 </div>

<%- include('parts/html-js') %>
<script>
    //  $("#alert").hide()

    function re() {
             $("#alert").hide()

        const fd = new FormData(document.form1);
        
        fetch('/login',{
            method:'POST',
            body:fd
        })
        .then(r=>r.json())
        .then(obj=>{
            console.log(obj)
           if(obj.success) {
               $("#alert")
                   .removeClass('alert-danger')             
                  .addClass('alert-success')
                   .text('登入成功');
              setTimeout(()=>{
                   // location.href = location.href;
                    location.reload();
                }, 1000);
            } else {
                  $("#alert")
                   .removeClass('alert-success')
                  .addClass('alert-danger')
                  .text('帳號或密碼錯誤');
         }
            $("#alert").show();
         })
         return false;
     }
     

</script>
<%- include('parts/html-footer') %>