<%- include('parts/html-head.ejs') %> 
<%- include('parts/navbar.ejs') %> 
    <div class="container">
         <%= name %> 
    </div>  
<%- include('parts/html-js.ejs') %> 
<%- include('parts/html-footer.ejs') %> 
