<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="avatar">Email address</label>
            <input type="file" class="form-control" id="avatar" name="avatar">
        </div>
        <div class="form-group">
            <label for="nickname">Password</label>
            <input type="text" class="form-control" id="nickname" name="nickname">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <img src="<%= locals.uploadedImg ? uploadedImg : '' %>" alt="">
    <p><%= locals.nickname ? nickname : '' %></p>
</div>

<%- include('parts/html-js') %>
<%- include('parts/html-footer') %>